@import "/src/app/_variables.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .responsiveContainer {
    max-width: 100%;
    width: 100%;
    margin: 0 12px;

    @media screen and (min-width: 1280px) {
      width: 100%;
      max-width: 1224px;
    }
  }
}
